### Import Necessary Libraries

In [8]:
import pandas as pd
import numpy as np

import binascii

## Load Data

We load the data below which contains:
- `CID`: Serial Number
- `Text`: Cipher Text
- `class`: The label

In [2]:
data = pd.read_csv('./Data/TrainingData.csv')
data

         CID                                               Text  class
0          0  3fa9e6ac4a36c66b8ca3887914c6c75b08dad9095f1d7a...      3
1          1  21b7f56f644f02d51ae82c9d50f69fad686319657712d4...      2
2          2  74203af11b8bbb1d31ac34e85f3076588fbbf2dcf1a4f7...      3
3          3  6b412e99f1dea02c124a90b5f2cf29496cb84f2b2b33a0...      1
4          4  5b84fb6fc7710b0e499394d9b406950d2436a118e2d867...      1
...      ...                                                ...    ...
79995  79995  888216a483866a9020360c92348576ea8b2dea8291422b...      2
79996  79996  7087c314dd336654d5a0dd4bff761a8a631bc3b58119f6...      3
79997  79997  391b30539b56b3236ce468b46e39eaf51945f7306b3fd4...      0
79998  79998  c8a58f604a35afad7a47d2b87f111c643374dfe15c7ef3...      0
79999  79999  4c25a945815e9767b62ebd463139234e7a58266b369f2a...      0

[80000 rows x 3 columns]

Let's get a hold the `Text` i.e. X column and the labels i.e. `class` (y)

In [6]:
train_x = data[['Text']].to_numpy()
train_y = data[['class']].to_numpy()

## Data Preparation

The `hex_to_bin` is a dictionary which contains all the hex characters and their respective binary representation.

In [26]:
hex_to_bin = {
  hex(dec).split('x')[-1]:bin(int(hex(dec).split('x')[-1], 16))[2:].zfill(4) for dec in range(16)
}

We will convert each cipher text into it's corresponding binary form to get our new training data.

In [37]:
train_x_bin = np.array([''.join([hex_to_bin[ch] for ch in text]) for text in np.squeeze(train_x)])

In [40]:
pd.DataFrame({'BinText':train_x_bin})

                                                 BinText
0      0011111110101001111001101010110001001010001101...
1      0010000110110111111101010110111101100100010011...
2      0111010000100000001110101111000100011011100010...
3      0110101101000001001011101001100111110001110111...
4      0101101110000100111110110110111111000111011100...
...                                                  ...
79995  1000100010000010000101101010010010000011100001...
79996  0111000010000111110000110001010011011101001100...
79997  0011100100011011001100000101001110011011010101...
79998  1100100010100101100011110110000001001010001101...
79999  0100110000100101101010010100010110000001010111...

[80000 rows x 1 columns]